.container{
    padding-left: 6.25%;
    border: 1px solid blue;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid;
    margin-bottom: 7.4%;
}
span{
    font-size: 17px;
}
.selectedMenu{
    font-weight: bold;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}

.content{
    display: grid;
    grid-auto-rows: 150px;
}

.gridLR{
    display: grid;
    grid-template-columns: 15% auto;
}
.notiContent, .pointRightAlign{
    gap: 60px;
    display: flex;
    align-items: center;
}
.noti button{
    width: 174px;
    height: 64px;
    border: 1px solid;
}
.selectedNoti, .doneBtn{
    background-color: #6C69FF;
    color: white;
    border: 1px solid black;
}
.doneDiv{
    display: flex;
    justify-content: center;
}

.contentInquiry{
    padding-right: 6.25%;
    text-align: center;
}
.inquiryGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
}
.inquiryEach:hover{
    cursor: pointer;
    font-weight: bold;
}
.inquiryHeader{
    border-top: 2px solid;
    border-bottom: 1px solid;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 9999;
    top:0;
    left:0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.modalContent{
    width: 80%;
    height: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}